{sub_dirs, ["apps/packet_inspector", "rel", "deps"]}.
{eunit_opts, [verbose, {skip_deps, true}]}.
{erl_opts, [{parse_transform, lager_transform},
            {src_dirs, ["apps/packet_inspector/src", "apps/packet_inspector/test"]},
            warn_unused_vars, warnings_as_errors,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_export_vars,
            warn_exported_vars,
            warn_missing_spec,
            warn_untyped_record, debug_info]}.
{deps_dir, "deps"}.
{deps, [
 {cowboy, "0.6.0", {git, "git://github.com/extend/cowboy.git", {tag, "0.6.0"}}},
 {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
 {lager,  "2.0.0", {git, "git@github.com:basho/lager.git",     "dc23b34ad40de2473c36d1a2bfeca4910279cc3f"}},
 {eper,   "0.60",  {git, "git@github.com:mhald/eper.git",      "HEAD"}},
 {jiffy,  "0.5.2", {git, "git@github.com:davisp/jiffy.git",    {tag, "0.5.2"}}},
 {gen_nb_server,  "1.1",  {git, "git@github.com:kevsmith/gen_nb_server.git",  "master"}},
 {dk_cxy, "0.9.3", {git, "git@github.com:duomark/dk_cxy.git",  {tag, "0.9.3"}}}
]}.
{xref_warnings, true}.
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, deprecated_function_calls, deprecated_functions]}.
{ct_extra_params,"-no_auto_compile -dir ebin -logdir log/ct -smp enable -boot start_sasl -s lager -s packet_inspector"}.
{edoc_opts, [{report_missing_types, true}, {source_path, ["apps/packet_inspector/src"]}, {report_missing_types, true}, {todo, true}, {packages, false}, {subpackages, false}]}.
